@import url("https://fonts.googleapis.com/css2?family=Open+Sans:wght@600&display=swap");

.radio-container {
  display: block;
  margin-left: 0;
  margin-bottom: 12.72px;
  height: 16px;
  top: 0;

  input {
    width: 16px;
    -webkit-appearance: none;
    margin: 0px 7px;
    margin-left: 0px;
    vertical-align: middle;
  }

  label {
    height: 19px;
    font-size: 14px;
    font-family: "Open Sans";
    letter-spacing: -0.24px;
    line-height: 19px;
    font-weight: 600;
    vertical-align: middle;
  }

  input:checked {
    background-image: url(../../../../assets/restaurantList/radio_button_selected.png);
    height: 16px;
  }

  input:checked + label {
    color: #f78713;
  }

  input:not(:checked) {
    background-image: url(../../../../assets/restaurantList/radio_button_unselected.png);
    height: 15.28px;
  }

  input:not(:checked) + label {
    color: #606060;
  }
}
