* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  width: 100%;
}

/*  all these can be made into a function and pass the height values and also if required url also */
// .container {
//   .one {
//     background-image: url("./../../assets/homepage/landingPage/BGimage.png");
//     background-repeat: no-repeat;
//     height: 935px;
//     display: flex;
//     justify-content: center;
//   }
//   .two {
//     background-image: url("./../../assets/homepage/popularBrands/BGimage.png");
//     background-repeat: no-repeat;
//     height: 617px;
//     display: flex;
//     justify-content: center;
//   }
//   .three {
//     background-image: url("./../../assets/homepage/bestDealsOffers/BGimage.png");
//     background-repeat: no-repeat;
//     height: 823px;
//     display: flex;
//     justify-content: center;
//   }
//   .four {
//     background-image: url("./../../assets/homepage/howToOrder/BGimage.png");
//     background-repeat: no-repeat;
//     height: 780px;
//     display: flex;
//     justify-content: center;
//   }
//   .five {
//     height: 847px;
//     display: flex;
//     justify-content: center;
//     background-repeat: no-repeat;
//   }
// }
