@import "../../../../public/variables.scss";

.footer-container {
  @include flex(column, center, center);
  @include autoSides;
  box-sizing: border-box;
  height: $size-227;
  width: $full-width;
  background-color: $white-color;

  .first-flex {
    @include flex(row, space-between, center);
    @include autoSides;
    top: $size-0;
    width: $half-width;
    padding-bottom: $size-17;
    border-bottom: $size-1 solid $footer-border-bottom;
    border-width: $size-2;
    box-sizing: border-box;

    .lorem-text {
      height: $size-60;
      width: $size-103;
      background-image: linear-gradient(
        $gradient-angle,
        $lorem-first-color,
        $lorem-second-color
      );
      background-clip: text;
      color: $transparent-color;
      font-family: $font-bn;
      font-size: $size-50;
      letter-spacing: $size-0;
      line-height: $size-60;
      text-align: center;
      vertical-align: middle;
    }

    .invisible {
      height: $size-0;
      width: $size-0;
    }

    .city-countries-container {
      @include flex(row, space-between, center);
      height: $size-19-4;

      .city-countries-number {
        font-family: $font-os;
        font-size: $size-24;
        font-weight: $weight-600;
        letter-spacing: $size-0;
        line-height: $size-19-4;
        text-align: center;
        margin-right: $size-9;
        background-image: linear-gradient(
          $gradient-angle,
          $city-count-first-color,
          $city-count-second-color
        );
        background-clip: text;
        color: $transparent-color;
      }

      .city-countries-text {
        color: $city-count-text-color;
        font-family: $font-os;
        font-size: $size-14;
        letter-spacing: $size-0;
        line-height: $size-19;
        vertical-align: bottom;
        font-weight: $weight-600;
      }
    }

    hr {
      width: $size-2;
      margin: $size-0;
      box-sizing: border-box;
      height: $size-19-4;
      border: $size-1 solid $vertical-separator-color;
      opacity: $opacity-0-19;
    }

    .outer-container {
      @include flex(row, space-between, center);
      width: $width-35p;
      height: $size-19-4;

      .flag {
        vertical-align: middle;
        padding-right: $size-10;
      }
    }

    .social-icons {
      @include flex(row, normal, flex-start);

      .img {
        vertical-align: middle;
        height: $size-22-41;
        width: $size-24-95;
      }
    }
  }

  .second-flex {
    @include flex(row, space-between, normal);
    @include autoSides;
    width: $half-width;
    height: $size-19;
    font-family: $font-os;
    font-size: $size-14;
    letter-spacing: $size-0;
    line-height: $size-19;
    margin-top: $size-28;

    a {
      text-decoration: none;
      color: $footer-links-color;
      font-weight: $weight-600;
    }
  }
}
