@import "../../../../public/variables.scss";

.footer-container {
  @include flex(column, center, center);
  box-sizing: border-box;
  height: 227px;
  width: 100%;
  background-color: $white-color;
  margin-right: auto;
  margin-left: auto;

  .first-flex {
    @include flex(row, space-between, center);
    top: 0;
    width: 50%;
    margin-right: auto;
    margin-left: auto;
    padding-bottom: 17px;
    border-bottom: 1px solid $footer-border-bottom;
    border-width: 2px;
    box-sizing: border-box;

    .lorem-text {
      height: 60px;
      width: 103px;
      background-image: linear-gradient(
        60deg,
        $lorem-first-color,
        $lorem-second-color
      );
      background-clip: text;
      color: $transparent-color;
      font-family: "Bebas Neue";
      font-size: 50px;
      letter-spacing: 0;
      line-height: 60px;
      text-align: center;
      vertical-align: middle;
    }

    .invisible {
      height: 0;
      width: 0;
    }

    .city-countries-container {
      @include flex(row, space-between, center);
      height: 19.4px;

      .city-countries-number {
        font-family: "Open Sans";
        font-size: 24px;
        font-weight: 600;
        letter-spacing: 0;
        line-height: 19.4px;
        text-align: center;
        margin-right: 9px;
        background-image: linear-gradient(
          60deg,
          $city-count-first-color,
          $city-count-second-color
        );
        background-clip: text;
        color: $transparent-color;
      }

      .city-countries-text {
        color: $city-count-text-color;
        font-family: "Open Sans";
        font-size: 14px;
        letter-spacing: 0;
        line-height: 19px;
        vertical-align: bottom;
        font-weight: 600;
      }
    }

    hr {
      width: 2px;
      margin: 0;
      box-sizing: border-box;
      height: 19.4px;
      width: 2px;
      border: 1px solid $vertical-separator-color;
      opacity: 0.19;
    }

    .outer-container {
      @include flex(row, space-between, center);
      width: 35%;
      height: 19.4px;

      .flag {
        vertical-align: middle;
        padding-right: 10px;
      }
    }

    .social-icons {
      @include flex(row, normal, flex-start);

      .img {
        vertical-align: middle;
        height: 22.41px;
        width: 24.95px;
      }
    }
  }

  .second-flex {
    @include flex(row, space-between, normal);
    width: 50%;
    height: 19px;
    font-family: "Open Sans";
    font-size: 14px;
    letter-spacing: 0;
    line-height: 19px;
    margin-right: auto;
    margin-left: auto;
    margin-top: 28px;

    a {
      text-decoration: none;
      color: $footer-links-color;
      font-weight: 600;
    }
  }
}
